@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200&family=Yeseva+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
}

h1, h2, h3{
    font-family: 'Yeseva One', cursive;
}

p{
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

.nav{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: end;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.hamburger{
    margin: 0 25px;
    cursor: pointer;
}

.line{
    background-color: #ffa1bc;
    height: 5px;
    width: 40px;
    margin-top: 10px;
    box-shadow: 0 3px #000;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.indice{
    display: flex;
    height: 100%;
    width: 200px;
    background-color: rgba(244, 218, 75, 0.9);
    position: relative;
    left: 100%;
    transition: 0.1s;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    font-size: 25px;
}

.indice ul{
    list-style: none;
}

.indice a{
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    padding: 10px 0;
    margin: 10px 0;
}

.indice a:hover{
    color: blue;
}

.indice ul li {
    margin-top: 30px;
}

.show{
    left: calc(100% - 200px);
}

.historia{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
    height: 190px;
    background-color: #ffa1bc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1px 10px 10px lightgrey;
}

.logo img{
    width: calc(100% - 60px);
}

.historia{
    width: 100%;
    padding-top: 70px;
}

.hist-txt{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
}

.hist-card{
    text-align: center;
    width: 350px;

}

.hist-card-txt{
    background-color: #C24479;
    text-align: justify;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 1px 10px 7px lightgrey;
}

.fotos{
    width: 100%;
    padding: 50px 0;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C24479;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
}

.img-i{
    width: 350px;
}

.img-i img{
    width: 100%;
}

.blog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-color: #EB8DAF;
}

.blog-1{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    gap: 20px;
    cursor: pointer;
    transition: 0.4s;
}

.blog-1:hover{
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
}

.blog-txt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    gap: 20px;
}

.blog-flex{
    width: 600px;
    padding: 25px;
    background-color: #C24479;
    
}

.inicio-blog{
    text-align: center;
}

.italics{
    font-style: italic;
}

.texto-blog{
    padding-top: 50px;
    color: rgba(255, 255, 255, 0.781);
    line-height: 30px;
}

.autor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: #C24479;
    gap: 10px;
    border-radius: 5px;
}


.user-img{
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img img {

    width: 200%;
}


.justify{
    text-align: justify;
}

.blog-size{
    font-size: 20px;
}


.social{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.soc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.soc-icon{
    margin: 0 auto;
    width: 25px;
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
}

.soc-icon img{
    width: 100%;
}

.soc-desc{
    color: #fff;
}

footer{
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1500px){
    .fotos{
        height: auto;
        padding: 50px 0;
    }

    .img-i{
        width: 30%;
        min-width: 300px;
    }

    .blog-flex{
        overflow: scroll;
    }
}

@media only screen and (max-width: 768px){

    .img-i{
        width: 100%;
        margin: 20px 0;
    }

    .historia{
        height: auto;
    }

    .hist-txt{
        flex-wrap: wrap;
        padding: 50px 0;
    }

    .blog{
        flex-wrap: wrap;
        height: auto;
        padding: 20px 0;
        margin-bottom: 70px;

    }

    .blog-1{
        width: 300px;
        height: 250px;
        margin-top: 15px;
    }

    .autor{
        display: none;
    }

    .blog-flex{
        height: fit-content;
        padding: 70px 15px;
    }

    .blog-size{
        font-size: 20px;
        font-weight: 400;
    }

    footer{
        width: 100%;
        position: fixed;
        top: calc(100% - 70px);
        transition: 0.2s;
    }
}